
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<form action="/Home/RegisterNewUser" method="post">
    <input type="text" name="UserName" placeholder="Enter User Name" /><br /><br />
    <input type="password" name="Password" placeholder="Enter Password" /><br /><br />
    <input type="submit" value="Register" /><br /><br />
</form>

